.DayCalendar {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}

.DayCalendar__Grid {
  background-color: var(--light);
  color: var(--dark);
  display: grid;
  grid-template-rows: repeat(720, 1px);
  height: 720px;
  width: 700px;
}
